<table class="table table-bordered">
  <tbody>
    <tr class="active">
      <th style="width: 100px;">Giá trị AQI</th>
      <th>Đánh giá</th>
      <th>Ảnh hưởng sức khỏe</th>
      <th>Màu sắc</th>
    </tr>
    <tr>
      <td>0-50</td>
      <td>TỐT</td>
      <td>Không ảnh hưởng đến sức khỏe</td>
      <td>
        <label class="color" style="background-color: blue">XANH</label>
      </td>
    </tr>
    <tr>
      <td>51-100</td>
      <td>TRUNG BÌNH</td>
      <td>Nhóm nhạy cảm nên hạn chế thời gian ở ngoài</td>
      <td>
        <label class="color" style="background-color: yellow;color: #cdcdcd">VÀNG</label>
      </td>
    </tr>
    <tr>
      <td>101-200</td>
      <td>KÉM</td>
      <td>Nhóm nhạy cảm cần hạn chế thời gian ở ngoài</td>
      <td>
        <label class="color" style="background-color: orange">DA CAM</label>
      </td>
    </tr>
    <tr>
      <td>201-300</td>
      <td>XẤU</td>
      <td>Nhóm nhạy cảm tránh ra ngoài, những người khác hạn chế ở ngoài</td>
      <td>
        <label class="color" style="background-color: red">ĐỎ</label>
      </td>
    </tr>
    <tr>
      <td>Từ 301</td>
      <td>NGUY HẠI</td>
      <td>Mọi người nên ở trong nhà</td>
      <td>
        <label class="color" style="background-color: brown">NÂU</label>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="text-center">
        <p>
          <strong>(*)</strong>
          Nhóm nhạy cảm bao gồm: trẻ em, người già và những người mắc bệnh hô hấp</p>
      </td>
    </tr>
  </tbody>
</table>
