body {
  font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.indicatorAqi{
		height: 180px;
		width: 100%;
	}
	.dailyAQI{
		border:1px solid #aaa;
		padding: 20px;
		width: 100%;
		display: block;
		text-align: center;
		font-size: 22px;
		font-weight: bold;
	}
	.indicatorAQI{
		border:1px solid #aaa;
		padding: 20px 4px;
		width: 100%;
		display: block;
		text-align: center;
		font-size: 22px;
		font-weight: bold;
	}
	#map-canvas{
		height: 400px;
		width: 100%;
	}
	#map-container{
		position: relative;
	}

	.aqi_indexs {
	    background-color: #fff;
	    position: absolute;
	    right: 20px;
	    top: 10px;
	    height: 42px;
	    width: 450px;
	    box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
	    -webkit-box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
	    -moz-box-shadow: 0px 0px 3px 0px rgba(117,117,117,1);
	    padding: 4px;
	    padding-top: 0;
	}
	.free_aqi_indexs {
		width: 100%;
		position: relative;
		right: 0;
	}
	.aqi_indexs td {
	    width: 20%;
	    height: 8px;
	}
	.aqi_indexs .leveltext {
	    height: 20px;
	    color: #222;
	    padding: 0 !important;
	    font-size: 10px;
	    font-weight: bold;
	}
	.aqi_indexs .level {
	    height: 6px;
	    padding: 0;
	    padding: 0 !important;
	    color: transparent;
	    line-height: 6px !important;
	}
// .grid-image .item {
//   box-sizing: border-box;
//     float: left;
//     width: 33.33%;
//     padding: 20px 5px;
//   min-height: 250px;
//   img {
//     height: auto; 
//     width: auto; 
//     max-width: 300px; 
//     max-height: 300px;
//   }
// }
.line {
      right: 0;
    margin: auto;
      position: absolute;
    left: 0;
    height: 1px;
    background-color: #333;
    width: 50px;
}

// .grid-image {
//   margin-top: 50px;
//   display: grid;
//   grid-template-columns: repeat(3, minmax(150px, 1fr));
//   grid-template-rows: repeat(3, minmax(150px, 1fr));
//   grid-column-gap: 5px;
//   grid-row-gap: 20px;
//   .item {
//     justify-self: center;
//     align-self: center;
//   }
//   img {
//     height: auto; 
//     width: auto; 
//     max-width: 300px; 
//     max-height: 300px;
//   }
// }

@media (min-width: 840px) {
  .grid-image {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    .item {
      justify-self: center;
      align-self: center;
    }
    img {
      height: auto; 
      width: auto; 
      max-width: 300px; 
      max-height: 300px;
    }
  }
}

@media (max-width: 1024px) {
  .grid-image {
    margin-top: 30px;
    display: grid;
    grid-template-columns: minmax(150px, 1fr);
    grid-template-rows: minmax(150px, 1fr);
    grid-row-gap: 20px;
    .item {
      justify-self: center;
      align-self: center;
    }
    img {
      height: auto; 
      width: auto; 
      max-width: 300px; 
      max-height: 300px;
    }
  }
}