<footer id="footer">
    	<!-- <img src="/images/logo-nbe.png" style="height: 20px"> -->
  <%#= image_tag "logo-nbe.png", style: "height: 20px" %>
	<span>Trang web này được xây dựng dưới sự hỗ trợ của Đại Sứ Quán Czech trong khuôn khổ dự án 11-18VN01</span>
</footer>
